@font-face {
   font-family: 'GreatVibes-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Philipp/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-13_101622/fonts/GreatVibes-Regular/font.ttf');
}
